@import "tailwindcss";
@plugin "daisyui";


/* Products card description line clamp */

.line-clamp-3{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}



/* Active class for categories */

.active{
  background-color: #016630;
  color: white;
}